# Dependencies
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor folders
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Optional lock files if you don't want them
# package-lock.json
# yarn.lock
